<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="user id=sa;pwd=anchor;server=PLQ-PC\PLQ;persist security info=False;initial catalog=AKPDManage" providerName="System.Data.SqlClient" />
    <add name="DispatchString" connectionString="user id=sa;pwd=anchor;server=PLQ-PC\PLQ;persist security info=False;initial catalog=Anchor120V5PD" providerName="System.Data.SqlClient" />
    <add name="Exchange_RFIDConnectionString" connectionString="user id=sa;pwd=anchor;server=PLQ-PC\PLQ;persist security info=False;initial catalog=ExchangeDB_RFID" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--内部通信配置Start-->
    <!--V7内部通讯时本机监听IP地址 内网IP，一般跟TCP监听的是同一个IP地址-->
    <add key="ListerIP" value="172.25.231.255" />
    <!--V7内部通讯时内部通信端口 -->
    <add key="V7InnerCommPort" value="7009" />
    <!-- json端口-->
    <add key="JsonPort" value="7013" />
    <!--广播地址-->
    <add key="BroadCastIP" value="172.25.231.255"/>
    <!--广播端口-->
    <add key="CommPort" value="7013"/>
    <!--内部通信配置End-->

    <!--TCP Socket通信配置Start-->
    <!--服务器IP地址-->
    <add key="ServerIP" value="192.168.5.172"/>
    <!--服务器端口-->
    <add key="ServerPort" value="5345"/>
    <!--socket失效时间  单位：分钟-->
    <add key="TCPSocketInvalidTime" value="2"/>
    <!--TCP Socket通信配置End-->

    <!--Http监听 Start-->
    <!--Http监听地址-->
    <add key="HttpListenerApp" value="http://192.168.5.172:8015/" />
    <!--Http监听 End-->

    <!--log记录配置文件-->
    <add key="LogConfigFile" value="log4net.xml" />
    <!--是否监听所有IP-->
    <add key="IsAllLocalIP" value="True" />
    <!--是否显示测试界面-->
    <add key="IsTest" value="True" />
    



  </appSettings>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>